.rectangleHeader {
  border-radius: 7px;
  background-color: rgba(5, 5, 59, 0.893);
  margin: 20px;
  height: 75vh;
  color: white;
}


.topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
}

.topMenu:first-child {
  padding-left: 90px;
}

.topMenu:nth-child(1) {
  padding-right: 60px;
}

.sectionTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 35px 50px 20px 0;
  flex-wrap: nowrap;
}

.sectionTwo > article {
  height: 300px;
  width: 200px;
  align-items: center;
  text-align: center;
}

.sectionTwo > article > img {
  align-items: center;
}

.belowMenu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.firstPart{
  width: 400px;
  margin-left: 90px;
  margin-right: 150px;
}

.firstPart button {
  margin-top: 5px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  color: black;
  font-size: 1em;
}

.belowMenu p {
  font-size: 1.4em;
}

.belowMenu h1 {
  font-size: 4em;
  margin-bottom: 60px;
}